.container {
  margin: 12px;
  display: flex;
  justify-content: center;
}

.inputData {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.countdown {
  text-align: center;
}
